node_modules/
.DS_Store
*.log
grabngo-*.json
.gradle/
.gradle_inst/
build/
composeApp/build/
.kotlin/
.vscode/
native-apps/.gradle/
native-apps/build/
native-apps/*/build/
native-apps/local.properties

